<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- ... -->
    <add key="enviroment" value="PROD CONTABO LISK API"/>
    <add key="ApibaseUrl" value="https://lisk.io"/>
    <add key="ApibaseUrlssl" value="https://lisk.io"/>
    <!-- ... -->
  </appSettings>


    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
