<template>
    <section>

        <!--<h2>${heading} ${processing}</h2>-->
       
        <div class="row">
            <div class="col-lg-12">

                <div id="containertop25Balance"></div>
            </div>
       
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <h4 style="text-align: center;">Accounts Stats all Grid</h4>
                <div id="gridContainermenaccounts"></div>
            </div>
        </div>
        <br />
      




    </section>
</template>
