<template>
    <section>

        <!--<h2>${heading} ${processing}</h2>-->
        <!--<h5>${processing}</h5>-->
        <div class="row">
            <div class="col-lg-6 center-block">

                <div id="containerForgers"></div>
            </div>
            <div class="col-lg-6 center-block">

                <div id="containerMissers"></div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">

                <div id="containerBalance"></div>
            </div>
            <!--<div class="col-lg-6">

                <div id="container24Forgers"></div>
            </div>-->

        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">

                <div id="container24Forgers"></div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <h4 style="text-align: center;">Delegate 101 ALL</h4>
                <div id="gridContainer"></div>
            </div>
        </div>
        <br />
        





    </section>
</template>
