<template>
    <section>

    
       
        <div class="row">
            <div class="col-lg-8">

                <div id="containerblockx100"></div>
            </div>
            <div class="col-lg-4">

                <div id="containerblockstatus"></div>
            </div>
       
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <h4 style="text-align: center;">Peers all </h4>
                <div id="gridpeers"></div>
            </div>
        </div>
        <br />
      




    </section>
</template>
